
 /* Skriv din CSS-kod här för att styla din hero image! */ 
/* * är en universal selector som återställer elements så de har 0 margins, så de ser likadant ut i alla browsers*/
*{
    margin: 0;
  }

body{
  width:100%;
}
  
/******* BAKGRUNDSBILD ******/ 
/* Byt ut bilden 
/* Linear gradient gör så att bilden blir mörkare och texten blir tydligare. detta kan du ta bort/ändra om du vill
/* lägg till en storlek på bilden ex. "height: 500px" 
/* Se om du kan få bilden att täcka toppen av sidan hint -> background-repeat: no-repeat;*/
/* lägg till position: relative; så hamnar bilden under texten. */  

.hero-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/apelsiner.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
  /****** INFORMATION OVANPÅ BILDEN*****/
  /* Lägg till position: absolute; Då lägger sig texten ovanpå bilden 
  /* positionera texten rätt genom att använda tillexempel top, right, left, bottom.
  /* eller positionera texten i center med hjälp av tillexmepel flexbox */

.hero-text{
    color:white;
    position: absolute;
    top: 40%;
    left: 30%;
}

h1{
  font-size: 35px;
  margin-bottom: 5px;
}

p{
  margin-bottom: 5px;
  font-size: 17px;
}

    /****** STYLA DIN KNAPP HÄR NEDAN****/
    /*Här hittar du lite styling tips till din knapp https://www.w3schools.com/css/css3_buttons.asp */
 
.btn{
  display: inline-block;
  color: white;
  width: 100px;
  border: 4px solid white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  transition: background-color 1s ease-in, color 1s ease-in;
}

.btn:hover{
  color: orange;
  background-color: Aqua;
  border:4px solid orange;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.profile-image{
  position: absolute;
  height: 160px;
  width: 160px;
  border: 4px solid white;
  border-radius: 50%;
  top: 75%;
  right: 10%;
}
/****** Lägg till en extra bild här nedan om du vill.****/
/*Glöm inte att lägga till ett class namn på din image tag */